body {
  background-color: #fff;
  background-image: none;
}

body::before {
  background-color: #fff !important;
  background-image: none !important;
}

/* Hide the left-hand table-of-contents sidebar and make main content full-width */
.bs-sidebar {
  display: none !important;
}

.col-md-9[role="main"] {
  flex: 0 0 100%;
  max-width: 100%;
}

/* Hide the "Next" and "Previous" navigation links at the bottom of each page */
.nav-link[rel="next"], .nav-link[rel="prev"] {
    display: none !important;
}
